@import 'styles/colors';

.btn {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .75rem;
  background: $black;
  color: $white;
  padding: 1rem 3rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  border-radius: 1.25rem;
  cursor: pointer;
  width: fit-content;
  transition: filter .3s ease;

  &:hover {
    filter: brightness(115%)
  }

  &.fullWidth {
    width: 100%;
  }

  &.small {
    padding: .25rem 1.5rem;
  }

  &.white {
    background: $white;
    color: $black;

    &.outlined {
      background: transparent;
      border: 2px solid $white;

      & .icon {
        color: $black;
      }
    }
  }

  &.pink {
    background: $pink;

    &.outlined {
      background: transparent;
      border: 2px solid $pink;
    }
  }

  &.text {
    color: $black;
    padding: 0;
    background: transparent;

    & .icon {
      color: $black;
    }

    &.white {
      color: $white;
    }

    &.pink {
      color: $pink;

      & .icon {
        color: $pink;
      }
    }
  }

  &.outlined {
    background: transparent;
    border: 2px solid $black;
    color: $black;

    & .icon {
      color: $black;
    }
  }

  & > .icon {
    font-size: 1.5rem;
    color: $white;
  }
}