@import 'styles/colors';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-right: 1rem;
  color: $white;

  &.white {
    color: $pink;
  }
}

.icon {
  cursor: pointer;
}