@import 'styles/colors';

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  &.default {
    font-size: 1.5rem;
  }

  &.small {
    font-size: 1.125rem;
  }
}

.white {
  color: $white;
}

.black {
  color: $black;
}
