@import 'styles/colors';

.title {
  margin: 1.25rem 0 2rem 0;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.answer {
  margin-top: 1rem;
  width: 100%;
  padding: 1.5rem;
  background-color: $white;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
}
