@import 'styles/colors';

.s-100 {
  font-size: 0.75rem;
}

.s-200 {
  font-size: 0.75rem;
  font-weight: 500;
}

.s-300 {
  font-size: 1rem;
}

.s-400 {
  font-size: 1rem;
  font-weight: 500;
}

.s-500 {
  font-size: 1.125rem;
  font-weight: 500;
}

.s-600 {
  font-size: 1.125rem;
  font-weight: 700;
}

.s-700 {
  font-size: 1.5rem;
}

.s-800 {
  font-size: 1.5rem;
  font-weight: 500;
}

.pink-gradient {
  color: $pink-gradient;
}
.black-gradient {
  color: $black-gradient;
}
.black-gradient-reverse {
  color: $black-gradient-reverse;
}
.gray-gradient {
  color: $gray-gradient;
}
.pink {
  color: $pink;
}
.dark-pink {
  color: $dark-pink;
}
.black {
  color: $black;
}
.red {
  color: $red;
}
.green {
  color: $green;
}
.white {
  color: $white;
}
