@import 'styles/colors';

.body {
  font-size: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

.h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
}

.small {
  font-size: .75rem;
  font-weight: 500;
} 

.xsmall {
  font-size: .75rem;
}