@import 'styles/colors';

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.billStatus {
  display: flex;
  gap: 0.5rem;
}

.marker {
  height: 1rem;
  width: 1rem;
  border-radius: 360px;

  &.green {
    background-color: $green;
  }

  &.red {
    background-color: $red;
  }
}

.separator {
  height: 1px;
  background-color: $black;
}

.billInfos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &:first-of-type {
    align-items: center;
  }

  &:last-of-type {
    text-align: center;
  }
}
